.section-contacto{
padding: 0 1.5em;
}
.contenido{
max-width:73.125em ;
margin-left: auto;
    margin-right: auto;
    padding: 1.5em;}
.logo-contacto{
    text-align: center;
    font-size: 3em;
    span{
        color: aqua;
    }}

.envoltorio-contacto{
    box-shadow: 0 0 1em 0 rgba(255, 255, 255, .3) ;}
.envoltorio-contacto > * {padding: 1em;}
.formulario {
    background: $messi;
    form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "bloqueUno "
        "bloqueDos "
        "bloqueTres"
        "bloqueCuatro";}
        .bloque{
            grid-column: 1/3;}
        .block{
                @extend .bloque;}
        p {
                margin: 0;
                padding: 1em;}
        button,
        input,
        textarea{
                width:100%;
                padding: .7em;
                border:none;
                background:none;
                outline: 0;
                border-bottom: 1px solid $cristiano;}
        button{
                background: $cristiano;
                border: 0;
                text-transform:uppercase ;
                padding: 1em ;
                &:hover,
                &:focus{
                background: aqua;
                    color: #fff;
                    transition: background-color 1s ease-out ;
                    outline: 0;}}}

.bloqueUno{
    grid-area: bloqueUno;}
.bloqueDos{
    grid-area: bloqueDos;}
.bloqueTres{
    grid-area: bloqueTres;}
.bloqueCuatro{
    grid-area: bloqueCuatro;}

.contact-info{
    background: $cristiano;
    h4,
    ul,
    p{text-align: center;
    margin: 0 0 1rem 0;}
    ul{
        list-style-type: none;
        padding: 0;
        li{
            padding: .3em;
            }}}

